<ion-header>
  <ion-toolbar>
    <ion-title>INICIO</ion-title>
  </ion-toolbar>
  </ion-header>


<ion-fab vertical="top" horizontal="end" slot="fixed">
  <ion-fab-button color= "secondary" routerLink="/create">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab>

<ion-content>
  <h3 class="ion-padding">PRODUCTOS DISPONIBLES</h3>
  <ion-card *ngFor="let producto of productos">
    <ion-item>

      <ion-button slot="end" (click)="deleteProducto(producto)">
        <ion-icon clear name="trash-outline"></ion-icon>
      </ion-button>
  
      <ion-button [routerLink]="['/update/', producto.idproducto]" slot="end">
        <ion-icon name="create"></ion-icon>
      </ion-button>

    </ion-item>
    <img class="ion-padding" src="../../assets/img/{{producto.img}}" />
    <ion-card-header>
      <ion-card-title>{{producto.nombre}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
   {{producto.descripcion}}
    </ion-card-content>
  </ion-card>

</ion-content>
  