<ion-header>
  <ion-toolbar>
    <ion-title>contacto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-button color="tertiary" id="click-trigger">Almacén</ion-button>
<ion-popover trigger="click-trigger" triggerAction="click">
  <ng-template>
    <ion-content class="ion-padding">
      <p>Email: almacen@libreriainfo.com</p>
      <p>Teléfono: 928 06 87 45</p>
    </ion-content>
  </ng-template>
</ion-popover>


<ion-button color="secondary" id="click-trigger2">Servicio de Reparto</ion-button>
<ion-popover trigger="click-trigger2" triggerAction="click">
  <ng-template>
    <ion-content class="ion-padding">
      <p>Email: reparto@libreriainfo.com</p>
      <p>Teléfono: 928 96 21 94</p>
    </ion-content>
  </ng-template>
</ion-popover>

<ion-button color="primary" id="click-trigger3">Servicio de Seguridad</ion-button>
<ion-popover trigger="click-trigger3" triggerAction="click">
  <ng-template>
    <ion-content class="ion-padding">
      <p>Email: seguridad@libreriainfo.com</p>
      <p>Teléfono: 928 00 67 36</p>
    </ion-content>
  </ng-template>
</ion-popover>


  <ion-item button>
    <ion-label>
      <h2>Arinaga</h2>
      <p>Email: libreriaarinaga@libreriainfo.com</p>
      <p>Teléfono: 928 46 67 65</p>
    </ion-label>
  </ion-item>
  
  <ion-item button>
    <ion-label>
      <h2>La Ballena</h2>
      <p>Email: librerialaballena@libreriainfo.com</p>
      <p>Teléfono: 928 95 77 12</p>
    </ion-label>
  </ion-item>
  
  <ion-item button>
    <ion-label>
      <h2>Telde</h2>
      <p>Email: libreriatelde@libreriainfo.com</p>
      <p>Teléfono: 928 32 08 04</p>
    </ion-label>
  </ion-item>
  
  <ion-item button>
    <ion-label>
      <h2>Mogán</h2>
      <p>Email: libreriamogan@libreriainfo.com</p>
      <p>Teléfono: 928 15 11 92</p>
    </ion-label>
  </ion-item>
  
  <ion-item button>
    <ion-label>
      <h2>Arucas</h2>
      <p>Email: libreriaarucas@libreriainfo.com</p>
      <p>Teléfono: 928 88 31 30</p>
    </ion-label>
  </ion-item>


</ion-content>
